.course-detail-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.course-detail-container {
  display: flex;  /* This ensures the sidebar and content are side by side */
  flex-grow: 1;
}

.sidebar {
  width: 250px; /* Sidebar width */
  background-color: #bbbbbb;
  color: black;
  padding: 20px;
  flex-shrink: 0;  /* Prevent the sidebar from shrinking */
}

.course-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;  /* Makes this part take the remaining space */
  padding: 20px;
  color: #bbbbbb;
  background-color: #121212;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  flex-grow: 1;  /* This makes sure it fills the remaining space */
  height: 500px;
}

.video-container {
  width: 80%;
  max-width: 800px;
  height: auto;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Ensures the video covers the container */
}

.watermark {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  pointer-events: none;
  transition: top 0.5s ease, left 0.5s ease;
}

.course-description {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}
