.video-container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #000;
}

.video-player {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.watermark {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  pointer-events: none;
  transition: top 2s ease, left 2s ease;
}

.custom-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.play-pause-btn, .volume-control, .fullscreen-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.play-pause-btn {
  font-size: 20px;
  color: white;
}

.volume-slider {
  margin: 0 10px;
  width: 100px;
}

.fullscreen-btn {
  font-size: 20px;
  color: white;
}
